html {
  font-size: 62.5%;
  font-family: serif; }

body {
  font-size: 1.6em;
  line-height: 1.3;
  max-width: 50em;
  margin: auto;
  color: #4a4a4a;
  background-color: #fffaf0;
  padding: 13px;
  text-align: justify; }

@media (max-width: 684px) {
  body {
    font-size: 1.5em; } }
@media (max-width: 382px) {
  body {
    font-size: 1.3em; } }
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

small,
sub,
sup {
  font-size: 75%; }

hr {
  border-color: #2c8898; }

a {
  text-decoration: none;
  color: #2c8898; }

a:hover {
  color: darkblue;
  border-bottom: 2px solid #4a4a4a; }

ul {
  padding-left: 1.4em; }

li {
  margin-bottom: 0.4em; }

blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid #2c8898; }

img {
  height: auto;
  max-width: 100%; }

/* Pre and Code */
/* pre { */
/*   background-color: #f1f1f1; */
/*   display: block; */
/*   padding: 1em; */
/*   overflow-x: scroll; */
/* } */
/* src { */
/*   font-size: 0.9em; */
/*   padding: 0 0.5em; */
/*   background-color: #f1f1f1; */
/*   white-space: pre-wrap; */
/* } */
/* pre > src { */
/*   padding: 0; */
/*   background-color: transparent; */
/*   white-space: pre; */
/* } */
.org-src-container {
  border: 1px solid #ccc;
  margin: 1em auto;
  padding: 0.1em 0.5em;
  position: relative;
  background-color: linen; }

.org-src-container > pre {
  overflow: auto; }

.org-src-container > pre:before {
  display: block;
  position: absolute;
  background-color: #b3b3b3;
  top: 0;
  right: 0;
  padding: 0 0.5em;
  border-bottom-left-radius: 8px;
  border: 0;
  color: white; }

.org-src-container > pre.src-sh:before {
  content: "sh"; }

.org-src-container > pre.src-bash:before {
  content: "bash"; }

.org-src-container > pre.src-emacs-lisp:before {
  content: "Emacs Lisp"; }

.org-src-container > pre.src-python:before {
  content: "Python"; }

.org-src-container > pre.src-org:before {
  content: "Org"; }

.org-src-container > pre.src-js:before {
  content: "Javascript"; }

.org-src-container > pre.src-javascript:before {
  content: "Javascript"; }

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse; }

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1; }

/* Classes */
.title {
  text-align: center;
  font-weight: 700; }

.abstract {
  margin: auto;
  width: 80%;
  font-style: italic; }

.postamble {
  font-size: 0.9em;
  font-style: italic;
  color: dimgray;
  text-align: center; }

/* ------------------------------ */
/* Page date */
/* ------------------------------ */
.page-date {
  text-align: center; }

/* ------------------------------ */
/* Timestamp */
/* ------------------------------ */
.timestamp {
  font-size: 0.7em;
  font-family: monospace;
  font-weight: normal;
  vertical-align: middle;
  float: right;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.1em 0.1em;
  border: 1px solid #bbb;
  border-radius: 6px;
  background-clip: padding-box;
  color: #333;
  background-color: #eee; }

/* ------------------------------ */
/* Tags */
/* ------------------------------ */
.tag {
  font-family: monospace;
  font-size: 0.6em;
  font-weight: normal; }

.tag span {
  padding: 0.1em 0.1em;
  float: right;
  margin-right: 0.5em;
  border: 1px solid #bbb;
  border-radius: 3px;
  background-clip: padding-box;
  color: #555;
  background-color: #fff0f5; }

/* ------------------------------ */
/* Tooltip */
/* ------------------------------ */
/* Tooltip container */
.tooltip {
  position: relative;
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic; }

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 0.8em;
  font-style: normal;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  padding: 10px 10px;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 0%;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

/* ------------------------------ */
/* Table of contents */
/* ------------------------------ */
/* Taken from https://orgmode.org/worg/style/worg.css */
/* TOC inspired by http://jashkenas.github.com/coffee-script */
#table-of-contents {
  margin-top: 0px;
  font-size: 1em;
  position: fixed;
  right: 0em;
  top: 0em;
  background: #fffaf0;
  line-height: 1.2;
  text-align: right;
  box-shadow: 0 0 1em #777777;
  -webkit-box-shadow: 0 0 1em #777777;
  -moz-box-shadow: 0 0 1em #777777;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  /* ensure doesn't flow off the screen when expanded */
  max-height: 80%;
  overflow: auto;
  z-index: 100; }

#table-of-contents h2 {
  font-size: 1em;
  max-width: 9em;
  border: 0;
  font-weight: normal;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em; }

#table-of-contents ul {
  display: none;
  text-align: left; }

#table-of-contents:hover ul {
  display: block;
  padding: 0.5em; }

/*# sourceMappingURL=site.css.map */
